body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

label, input {
    display: block;
    margin: 6px;
    width: 90%;
}

label{
    text-align: start;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0b7ffc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-bottom: 20px;
}

p {
    color: red;
    font-weight: bold;
}
