body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

label, input {
    display: block;
    margin: 6px;
    width: 90%;
}

label{
    text-align: start;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0b7ffc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    margin-bottom: 20px;
}

p {
    color: red;
    font-weight: bold;
}

/* empleados/index */

#body_empleados{
    flex-flow: row wrap;
    width: 90%;
    border: 1px solid red !important;
}

/* Botón Añadir empleado */
#aniadir_empleado {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#aniadir_empleado:hover {
    background-color: #45a049;
}

/* Estilo para el encabezado */
h1 {
    color: #4CAF50;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para botones de acciones */
button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73;
}

a button {
    margin-right: 5px;
}

a button:last-of-type {
    background-color: #f44336;
}

a button:last-of-type:hover {
    background-color: #c62828;
}

/* Mensaje de no empleados */
p {
    font-size: 16px;
    color: #666;
}

